:root {
	--primary: #663366;
  --secondary: #669999;
	--font-primary: 'Open Sans';
  --font-secondary: 'Dancing Script';
  --font-cursive: 'Parisienne';
}
$fondoNegro = url("../img/fondo.jpg");
html , body {
	font-family: var(--font-primary);
}
#baneInferior
	display inline-block
	width 5000px
	height 100%
	.logoImagen
		float left
		height 100%
#imagenCargando
	display block
	position absolute
	top 0
	width 100%
	height 85%
	//background #89b21d
	background $fondoNegro
	background-size: cover
	background-position: center
	.tituloBienvenida
		color #fff
		text-align center
		margin-top 10%
		font-size 50px

#contenidoBaner
	display none
	width 101%
	height 85%
	margin 0
	background #0f0
	position absolute
	top 0
footer
	background $fondoNegro
	height 13%
	position absolute
	bottom 0
	overflow hidden
	width 100%
#app
	position fixed
	left 0
	top 0
	width 100%
	height 100%
	background $fondoNegro
.fila
	padding-right 5px
	height 100%
	background $fondoNegro
	float left
	perspective 800px
	box-sizing border-box
	&:last-child 
		padding-right: 0
	.fila
		&:last-child 
			padding-right: 0
.imagenFull
	width 50%
	text-align center
	margin 0 auto
	img
		width 100%
.fila1
	width 20%
.fila2
	width 30%
.fila3
	width 50%
.contenedorLogo
	width 100%
	margin 0
	background no-repeat center center
	position absolute
	transition all .5s ease-in-out
	background-size: cover
.contenedorImagen
	width 100%
	margin 0
	background no-repeat center center	
	background-color rgba(255, 218, 48, 0.66)
	background-blend-mode multiply
	transition opacity .8s ease-in-out
	opacity 1
.contenedorFlip
	position relative
	transform-style preserve-3d
	transition all 1s ease-in-out
	width 100%
	padding-bottom: 5px !important
	.contenedorImagen,.contenedorLogo
		display block
		position absolute
		backface-visibility hidden
		color #fff
		&.back
			transform rotateY( 180deg )
	&.flipped
		transform rotateY( 180deg )
#fotosTwits
	width 100%
	margin 0 auto
	height auto !important
	img
		display block
		width 100%
#vistaTwit
	opacity 0
	transition opacity .8s ease-in-out
	background var(--primary);
	margin-bottom: 5px
.contenidoTwit
	table
		width 100%
		margin 0 auto
		td
			padding 5px
	.usuario
		width 80px
		img
			width 80px
			height 80px
			display block
			object-fit cover
	.nombreUsuario
		margin 0
		padding 0
	.contenidoMensajeUsuarios
		min-height 80px
		overflow hidden
		padding-right: 15px
		color: white
.contenidoMensaje
	width 500px
	position absolute
	bottom 100%	
	left 50%
	margin-left -250px
	height 110px
	background #fff
	transform scale(1.5,1.5)
	transition all .5s ease-in-out
	opacity 0
	&.leer
		opacity 1
		bottom 50%
	&.leido
		transform scale(1,1)
		bottom 50px
	
	.mensaje
		float right
		width 375px
		padding 15px 15px 15px 0
		.nombreUsuario
			padding 0
			margin 0
		.contenidoMensaje
			overflow hidden
			height 70px

#maindiv{
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
	height: 100%;
	.images {
		height: 100%;
		display: inline-block;
		img {
			height: 100%;
			float: left;
			margin-right: 15px;
		}
	}
}

#div1 {
  display: inline-block;
  animation: marquee 10s linear infinite;
	height: 100%;
}

#div2 {
  display: inline-block;
  animation: marquee2 10s linear infinite;
  animation-delay: 5s;
	height: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}